language: node_js
node_js:
- 0.11.14

before_install: npm install -g grunt-cli

deploy:
  provider: heroku
  api_key:
    secure: iaK+/o/AGfo9ssHGFSi0gCi6270SRdEwFgNKm1HJ3N99BpHTOpXUh7zlvR366QZUAbkzgbvjGZECNsFJ/DtuU5LOGJoD33rXKybXeX+J66vrZTMhRnfnDyEUQkIyg57mYObkHyWItkvQdzxITcQJ7Y21PvOrm31ivW5fQjR/MLQ=
  app: stackrapp
  strategy: git
  on:
    repo: adriantoine/stackr
