
<div id="content"></div>

<script type="text/javascript">
    var init = {{{init}}};
</script>

<script type="text/javascript" src="/scripts/traceur-runtime.js"></script>
<script type="text/javascript" src="/scripts/main.js"></script>
