
.card {

    background-color: $clr-white;
    color: $clr-black;
    width: $card-width;
    height: $card-height;
    margin: auto;
    position: relative;
    border-radius: $card-border-radius;
    border: 3px solid $clr-lightgrey;

    header {
        padding: 1em;

        .avatar, .names {
            display: inline-block;
            vertical-align: middle;
        }
        .avatar {
            border-radius: 5px;
        }
        .names {
            margin-left: 0.5em;
        }

        .name, .username {
            display: block;
        }
        .name {
            font-weight: 400;
        }
        .username {
            font-size: .6em;
            font-style: normal;
            color: $clr-grey;
        }
    }

    .text {
        padding: 0 1em;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .timeAgo {
        padding: 0 1.6em;
        font-size: 0.6em;
        color: $clr-grey;
        margin-top: 0.5em;
    }

    .img-container {
        max-height: 8em;
        overflow: hidden;
        margin: 1em;
        img {
            width: 100%;
        }
    }

    footer {
        padding: 2em;

        font-size: .5em;
        color: $clr-grey;
        position: absolute;
        bottom: 0;
        width: 100%;

        span {
            display: inline-block;
            margin-right: 1em;
        }

        strong {
            display: inline-block;
            margin-right: 0.2em;
            font-size: 1.3em;
        }

    }

}
