
.card {

    background-color: $clr-white;
    color: $clr-black;
    width: $card-width;
    height: $card-height;
    margin: auto;
    position: relative;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.6);

    header {
        padding: 1em;
        background-color: $clr-blue;

        .avatar, .names {
            display: inline-block;
            vertical-align: middle;
        }
        .avatar {
            border-radius: 5px;
        }
        .names {
            margin-left: 0.5em;
        }

        .name, .username {
            display: block;
        }
        .name {
            color: $clr-white;
            font-weight: 400;
        }
        .username {
            font-size: .6em;
            font-style: normal;
            color: $clr-lightblue;
        }
    }

    .text {
        padding: 1em 1em 0;
    }

    .timeAgo {
        padding: 0 1.6em;
        font-size: 0.6em;
        color: $clr-grey;
        margin-top: 0.5em;
    }

    footer {
        padding: 2em;

        font-size: .5em;
        color: $clr-grey;
        position: absolute;
        bottom: 0;
        width: 100%;

        span {
            display: inline-block;
            margin-right: 1em;
        }

        strong {
            display: inline-block;
            margin-right: 0.2em;
            font-size: 1.3em;
        }

    }

}
