
@import 'fonts';

html {
    box-sizing: border-box;
    font-family: $fnt-body;
}

body {
    color: $clr-black;
}

h1, h2, h3, h4 {
    font-family: $fnt-title;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    color: $clr-blue;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}