
@import url(http://fonts.googleapis.com/css?family=Comfortaa:300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

html {
    box-sizing: border-box;
    font-family: $fnt-body;
}

body {
    background-color: $clr-black;
    color: $clr-white;
}

h1, h2, h3, h4 {
    font-family: $fnt-title;
}

*, *:before, *:after {
    box-sizing: inherit;
}
