
@import 'fonts';

html {
    box-sizing: border-box;
    font-family: $fnt-body;
}

body {
    background-color: $clr-verylightgrey;
    color: $clr-black;
    overflow: hidden;
}

h1, h2, h3, h4 {
    font-family: $fnt-title;
}


h1 {
    font-size: 3.998em;
    font-weight: 400;
    letter-spacing: -0.104em;
    line-height: 0.7;
    color: $clr-blue;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    color: $clr-blue;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
