
@import 'lib/normalize';
@import 'lib/fa/font-awesome';
@import 'vars';
@import 'base';

@import 'components/btn';

body {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -17em;
}

h1 {
    font-size: 12em;
    margin-bottom: 0;
    font-weight: 400;
    letter-spacing: -20px;
    line-height: 0.7;
    color: $clr-blue;
}

h2 {
    margin: 0;
    font-weight: 100;
    color: $clr-grey;
}

a {

    background-color: $clr-blue;
    color: $clr-white;
    font-size: 1.5em;
    margin: 2em auto;
    display: block;
    max-width: 12em;

    &:visited {
        color: $clr-white;
    }

    .fa {
        margin-right: .5em;
        font-size: 1.2em;
        vertical-align: middle;
    }

    span {
        display: inline-block;
        vertical-align: middle;
    }

}