
$clr-white: #fff;
$clr-black: #292F33;
$clr-grey: #8899A6;
$clr-lightgrey: #DDE2E7;
$clr-verylightgrey: #EEF2F5;
$clr-blue: #328DD3;
$clr-lightblue: #BED8EC;
$clr-red: #E25D68;
$clr-green: #6DD57B;

$fnt-body: 'Roboto', sans-serif;
$fnt-title: 'Aqua', cursive;

$card-height: 35rem;
$card-width: 25rem;
$card-border-radius: .3rem;

$card-stack-gap: 2rem;
