
$clr-white: #fff;
$clr-black: #292F33;
$clr-grey: #8899A6;
$clr-lightgrey: #ccd6dd;
$clr-blue: #328DD3;
$clr-lightblue: #BED8EC;
$clr-red: #BF343F;
$clr-green: #45BF55;

$fnt-body: 'Roboto', sans-serif;
$fnt-title: 'Aqua', cursive;

$card-height: 35rem;
$card-width: 25rem;
$card-border-radius: .3rem;

$card-stack-gap: 2rem;
