
.main-stack {
    width: $card-width;
    margin: auto;

    .buttons {
        color: $clr-white;
        margin-top: 1em;
        font-size: 1.3em;

        .btn {
            width: 48%;
        }

        .trash {
            background-color: $clr-red;
            margin-right: 2%;
        }

        .thumb {
            background-color: $clr-green;
            margin-left: 2%;
        }
    }

    .stack {
        height: $card-height;
        width: $card-height;
        position: relative;
    }

    .card {
        position: absolute;
        $gap: .4rem;

        &.current {
            z-index: 4;
            top: 0;
        }

        &.next {
            z-index: 3;
            top: $gap;
            transform: scale(.98) translateY($gap);
        }

        &.next-2 {
            z-index: 2;
            top: $gap * 2;
            transform: scale(.96) translateY($gap * 2);
        }

        &.next-3 {
            z-index: 1;
            visibility: hidden;
            top: $gap * 3;
            transform: scale(.94) translateY($gap * 3);
        }
    }

}
